<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui small menu">
      <div class="ui dropdown item" id="sort">
        <span>按<%= ({_id: '时间', pv: '浏览量'})[sort] %>排序</span> <i class="dropdown icon"></i>
        <div class="menu" id="sortMenu">
          <a class="item">按时间排序</a>
          <a class="item">按浏览量排序</a>
        </div>
      </div>
      <div class="ui dropdown item">分类 <i class="dropdown icon"></i>
        <div class="menu" id="typeMenu">
          <a class="item">随笔</a>
          <a class="item">学习</a>
          <a class="item">生活</a>
        </div>
      </div>
      <div class="right menu">
        <div class="ui action input">
          <input placeholder="Search..." type="text" id="key">
          <button class="ui icon button" id="serach">
            <i class="search icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $().ready(function() {
    $('#serach').click(function () {
      var key = $('#key').val();
      var url = $.jurlp(window.location.href);
      url.query({"key":key});
      window.location.href = url.url();
    })

    $('#key').keydown(function (ev) {
      if(ev.keyCode == 13){
        $('#serach').click();
      }
    })

    $('#typeMenu .item').click(function () {
      var type = $(this).html()
      var url = $.jurlp(window.location.href);
      url.query({"type":type});
      window.location.href = url.url();
    })

    $('#sortMenu .item').click(function () {
      $('#sort span').html($(this).html())
      var sort = '_id'
      if($(this).html()==='按浏览量排序'){
        sort = 'pv'
      }
      var url = $.jurlp(window.location.href);
      url.query({"sort":sort});
      window.location.href = url.url();
    })
  })
</script>
