<%- include('header') %>
<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form" method="post">
      <div class="field required">
        <label>原始密码</label>
        <input placeholder="原始密码" type="password" name="oldpassword">
      </div>
      <div class="field required">
        <label>新密码</label>
        <input placeholder="新密码" type="password" name="newpassword">
      </div>
      <div class="field required">
        <label>重复密码</label>
        <input placeholder="重复密码" type="password" name="repassword">
      </div>
      <input type="submit" value="提交" class="ui button fluid">
    </form>
  </div>
</div>
<%- include('footer') %>
