  <div id="scrollUp"><img src="/images/scrollUp.png"></div>
  <script type="text/javascript">
    $().ready(function(){

      //点击按钮弹出下拉框
      $('.ui.dropdown').dropdown();

      // 鼠标悬浮在头像上，弹出气泡提示框
      $('.post-content .avatar-link').popup({
        inline: true,
        position: 'bottom right',
        lastResort: 'bottom right'
      });

      // 返回顶部
      $(window).scroll(function () {
        var top = $(this).scrollTop();
        if(top>300){
          $('#scrollUp').show()
        }else {
          $('#scrollUp').hide()
        }
      })
      $('#scrollUp').click(function () {
        $("html,body").animate({scrollTop:0}, 500);
      })


    })
  </script>
  </body>
</html>
